@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --HeadFont: "Fira Sans", sans-serif;
  --ParaFont: "Fira Sans", sans-serif;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--ParaFont) !important;
}

.outdoorbenefits:hover img {
  filter: invert(1);
}

.outdoorbenefits:hover p {
  color: #fff;
}

@layer base {
  .light_btn {
    @apply bg-LightYellow text-Black shadow-DarkShadow text-center font-HeadFont rounded-lg border-2 border-transparent border-solid py-2 px-2 hover:border-black;
  }

  .dark_btn {
    @apply bg-transparent text-white shadow-DarkShadow text-center font-HeadFont rounded-full border border-Gray border-solid py-3 px-10 hover:border-White hover:bg-white hover:text-Black transition-all duration-700 ease-in-out text-lg;
  }

  .section {
    @apply pt-10 pb-10;
  }

  .section-two {
    padding-top: 140px !important;
  }

  h1 {
    @apply text-7xl text-White font-semibold font-HeadFont;
  }

  h2 {
    @apply text-5xl text-red-600 font-HeadFont font-bold;
  }

  h3 {
    @apply text-4xl text-Black font-HeadFont font-bold;
  }

  h4 {
    @apply text-3xl text-Black font-HeadFont font-bold;
  }

  h5 {
    @apply text-2xl text-Black font-HeadFont font-bold;
  }

  h6 {
    @apply text-Black font-HeadFont font-bold text-lg;
  }

  p {
    @apply text-ParaColor font-ParaFont text-[18px];
  }

  .centerdiv {
    @apply flex items-center justify-center;
  }

  .centerhead {
    @apply text-center text-red-600 font-HeadFont;
  }

  .lefthead {
    @apply text-red-600 font-HeadFont text-left mb-5;
  }

  .circlebtn {
    @apply flex items-center justify-center gap-x-2 font-HeadFont font-bold capitalize mt-2 hover:tracking-wide transition-all duration-700 ease-linear text-red-600;
  }

  .circledesign {
    @apply w-8 h-8 rounded-full bg-red-600 text-White text-xl shadow-DarkShadow text-center py-2 px-2;
  }
 :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 72% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 72% 51%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@media (max-width: 560px) {
  h1 {
    @apply text-3xl text-White font-semibold font-HeadFont;
  }

  h2 {
    @apply text-2xl text-red-600 font-HeadFont font-bold;
  }

  h3 {
    @apply text-3xl text-red-600 font-HeadFont font-bold;
  }

  h4 {
    @apply text-2xl text-red-600 font-HeadFont font-bold;
  }

  h5 {
    @apply text-xl text-red-600 font-HeadFont font-bold;
  }

  h6 {
    @apply text-lg text-red-600 font-HeadFont font-bold;
  }
}




.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: red;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: darkred;
}

/* Swiper default icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
  font-weight: bold;
}

.fancybox__container {
  z-index: 999999 !important;
}
